

<div class="movement_form">
<%= simple_form_for([@workout, @workout.movements.build]) do |f| %>
    <%= f.input :movement, input_html: { class: "form-control" } %>
    <%= f.input :reps, input_html: { class: "form-control"} %> <br>

    <div id="movement_button">
    <%= f.button :submit %>
   </div>

</div>
<% end %>
