<h1> WOD CITY </h1>

<% @workouts.each do |workout| %>
  <% workout.users.each do |u| %>
  <h2> <%= link_to workout.date.strftime("%A,%B,%d"), workout %> </h2>
  <h3> <%= workout.workout%></h3>
  <h3> Completed by: <%= u.user_name %> </h3>
<% end %>
<% end %>
