<h1 id="leaderboard_header"> Reps Leaderboard </h1>


  <table class="table table-bordered" id="leaderboard">

    <tr>
      <th class="text-center"> Athlete Name </th>
      <th class="text-center"> # of Reps </th>
    </tr>
    <tr>
      <% @user.each do |user| %>
      <td> <%= user.movements.sum("reps") %> </td>
      <td> <%= user.user_name %> </td>
    </tr>
  <% end  %>
  </table>
