<h1> Reps Leaderboard </h1>

<% @user.each do |user| %>
  <% user.workouts.each do |w| %>
      <% w.movements.each do |m| %>

      <%= user.user_name %> <%= m.reps %>


 <% end %>
<% end %>
 <%end %>
