body {
  background-image: url("100_bkgrd.jpg");
  background-size: cover;
  width: 100%;
}

.flash {
  color: white;
}

/*********
SESSIONS */

.session_form {
  margin-left: 480px;
}

.logo {
  margin-top: 250px;
}

#form_id {
  padding-top: 20px;
}

.form {
  color: #d7d7d7;
}

#button {
  margin-left: 80px;
}

/*********
NEW USER */

#headline {
  color: #d7d7d7;
  text-align: center;
  margin-top: 100px;
}

.form-group {
  color: #d7d7d7;
  margin-left: 500px;
  padding-top: 15px;
  width: 50%;
}

/*********
WORKOUT INDEX */

.logo_workout {
  margin-left: 500px;
  margin-top: 40px;
}

.workout_container {
  background-color: #000;
  opacity: 0.6;
  width: 600px;
  height: auto;
  text-align: center;
  margin-left: 325px;
  border-radius: 10px;
}

#workout_link {
  color: #fff;
}

#workout_name {
  color: white;
}

#new_workout_button {
  margin-top: 20px;
  margin-left: 540px;
  height: 50px;
}


/***********************
CREATE A NEW WORKOUT  */

#workout_header{
  color: #d8d624;
  text-align: center;
  margin-top: 100px;
}

.workout_form {
  color: #d7d7d7;
  margin-left: 425px;
  padding-top: 15px;
  width: 75%;
}

#new_workout_btn{
  margin-left: 425px;
}

/***********************
SHOW WORKOUTS */

#show_workout_header {
  color: #d8d624;
  text-align: center;
  margin-top: 100px;
}

#show_wod {
  color: #d7d7d7;
  text-align: center;
  padding-top: 10px;
}

#show_notes {
  color: #d7d7d7;
  text-align: center;
  padding-top: 10px;
}

#button_group {
  text-align: center;
  padding-top: 10px;
}

.log_workout {
  color: #d8d624;
  text-align: center;
  padding-top: 30px;
}

.show_movement {
  color: #d7d7d7;
  text-align: center;
}

.movement_form {
  width: 45%;
  margin-right: 20px;

}

#movement_button {
  text-align: center;
  margin-left: 570px;
}

/***********************
SHOW USERS  */

#header_user {
  color: #d8d624;
  text-align: center;
  margin-top: 100px;
}


.user_workout {
  color: #d7d7d7;
  text-align: center;
  padding-top: 10px;
}

#user_button {
  margin-left: 600px;
  margin-top: 20px;
}


/***********************
EDIT WOD  */

#edit_header {
  color: #d8d624;
  text-align: center;
  margin-top: 100px;
}

#cancel_button {
  text-align: center;
}

#workout_button {
  margin-left: 150px;
}

/***********************
NEW WOD  */

#new_workout_btn {
  margin-left: 600px;
}

/***********************
LEADERBOARD  */

#leaderboard {
  color: white;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#leaderboard_header {
  color: #d8d624;
  text-align: center;
  margin-top: 100px;
}

#header_leaderboard {
  text-align: center;
}
